name: Build

on:
  push:
    branches:
    - master
  pull_request:
jobs:
  lint:
    uses: mackerelio/workflows/.github/workflows/go-lint.yml@70a9988954e45f8b1b8c9acb40c69553839ed46a # v1.4.0
  test:
    uses: mackerelio/workflows/.github/workflows/go-test.yml@70a9988954e45f8b1b8c9acb40c69553839ed46a # v1.4.0
